@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<RealEstate.EntityLayer.Concrete.Product>

<section class="w3l-courses py-5" id="courses">
    <div class="container py-lg-5 py-md-4 py-2">
        <h5 class="sub-title text-center">Tüm İlan Listemiz</h5>
        <h3 class="title-style text-center">Popüler İlanlar</h3>
        <div class="row justify-content-center">

            @foreach (var item in Model)
            {
                   @* if (item.ProductMail == "Kiralık")
                    {
                        color= "green";
                    }
                    if (item.ProductMail == "Satılık")
                    {
                        color= "btn btn-success btn-sm";
                    }*@
                    
            <div class="col-lg-4 col-md-6 item mt-5">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                            <a href="/Default/Advert/AdvertDetails/@item.ProductID" class="zoom d-block">
                            <img class="card-img-bottom d-block" style="width:340px; height:200px" src="@item.Image" alt="Card image cap">
                        </a>
                        <div class="post-pos">
                            <a href="classes.html" class="receipe blue">@item.ProductMail</a>
                                <a href="classes.html" class="receipe yellow ml-2">@(((DateTime)item.Date).ToString("dd-MMM-yyyy"))</a>
                        </div>
                    </div>
                    <div class="card-body course-details">
                        <div class="price-review d-flex justify-content-between mb-1align-items-center">
                            <p>@item.Price</p> 
                        </div>
                            <a href="/Default/Advert/AdvertDetails/@item.ProductID" class="course-desc">
                            @item.Title
                        </a>
                        <div class="course-meta mt-4">
                            <div class="meta-item course-lesson">
                                <span class="fas fa-users"></span>
                                <span class="meta-value"> Kategori: @item.CategoryID</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
        <!-- pagination -->
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
        <!-- //pagination -->
    </div>
</section>

